<div class="animated fadeIn">
    <div class="col-12 col-md-6 mx-auto">
        <ng-container *ngIf="!msg; else done">
            <h4 translate>user.insert_new_password</h4>
            <form novalidate [formGroup]="resetPasswordForm" (submit)="resetPassword()">
                <!-- PASSWORD -->
                <div class="form-group">
                    <label for="password" translate>user.password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="mdi mdi-lock"></span>
                            </span>
                        </div>
                        <input type="password" id="password"
                        formControlName="password" class="form-control"
                        [ngClass]="{'is-valid':password.valid && (password.dirty || password.touched),
                        'is-invalid': password.invalid && (password.dirty || password.touched)}"
                        (focus)="showPassSecurity = true" (blur)="showPassSecurity = false">
                    </div>
                    <password-error-messages *ngIf="showPassSecurity" [password]="password"></password-error-messages>
                    <form-error-messages [control]="password"></form-error-messages>
                    <!-- extra errors -->
                    <div *ngIf="password.errors?.mustMatch" class="text-danger">
                        <small translate>validators.mustMatch</small>
                    </div>
                    <!-- /extra errors -->
                </div>
                <!-- /PASSWORD -->
                <!-- PASSWORD_CONFIRMATION -->
                <div class="form-group">
                    <label for="password_confirmation" translate>user.password_confirmation</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="mdi mdi-lock-check"></span>
                            </span>
                        </div>
                        <input type="password" id="password_confirmation" 
                        formControlName="password_confirmation" class="form-control"
                        [ngClass]="{'is-valid':password_confirmation.valid && (password_confirmation.dirty || password_confirmation.touched), 
                        'is-invalid': (password_confirmation.invalid || password.errors?.mustMatch) && (password_confirmation.dirty || password_confirmation.touched)}">
                    </div>
                    <form-error-messages [control]="password_confirmation"></form-error-messages>
                </div>
                <!-- /PASSWORD_CONFIRMATION -->
                <!-- SUBMIT BTN -->
                <button type="submit" class="btn btn-primary"
                [disabled]="resetPasswordForm.invalid" translate>
                    user.reset_your_password
                </button>
                <!-- /SUBMIT BTN -->
            </form>
        </ng-container>
        <ng-template #done>
            <ng-container *ngIf="ok; else err">
                <span class="mdi mdi-lock-check big-icon text-success"></span>
            </ng-container>
            <ng-template #err>
                <span class="mdi mdi-close-circle-outline big-icon text-danger"></span>
            </ng-template>
            <p [ngClass]="{'text-success': ok, 'text-danger': !ok}">{{msg}}</p>
            <p>{{countdown}}...</p>
        </ng-template>
    </div>
</div>