<div class="text-center">
    <h5 translate>user.forgotten_password</h5>
    <p translate>user.email2send_pass_reset</p>
</div>
<form novalidate [formGroup]="passwordResetForm" (submit)="sendPasswordReset()">
    <!-- EMAIL -->
    <div class="form-group">
        <label for="remail" translate>user.email</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <span class="mdi mdi-email"></span>
                </span>
            </div>
            <input type="text" id="remail" formControlName="remail" class="form-control"
            [ngClass]="{'is-valid':remail.valid && (remail.dirty || remail.touched),
            'is-invalid': remail.invalid && (remail.dirty || remail.touched)}">
        </div>
        <form-error-messages [control]="remail"></form-error-messages>
        <small *ngIf="passwordResetMsg" class="text-success">{{passwordResetMsg}}</small>
    </div>
    <!-- /EMAIL -->
    <!-- SUBMIT BTN -->
    <button type="submit" class="btn btn-primary"
    [disabled]="passwordResetForm.invalid" translate>
        miscellaneous.send
    </button>
    <!-- /SUBMIT BTN -->
</form>