<div [ngClass]="{'text-danger': password?.errors}" >
    <!-- PASS SECURITY -->
    <div>
        <h6 translate>security.securityrequirements</h6>
        <div [ngClass]="{'text-success': !password.errors?.missingLowerCases}">
            <small translate>validators.lowerCases</small>
        </div>
        <div [ngClass]="{'text-success': !password.errors?.missingUpperCases}">
            <small translate>validators.upperCases</small>
        </div>
        <div [ngClass]="{'text-success': !password.errors?.missingNumbers}">
            <small translate>validators.numbers</small>
        </div>
        <div [ngClass]="{'text-success': !password.errors?.missingSpecialChars}">
            <small translate>validators.specialChars</small>
        </div>
        <div [ngClass]="{'text-success': !password.errors?.required && !password.errors?.minlength}">
            <small translate>validators.passwordminlength</small>
        </div>
    </div>
    <!-- /PASS SECURITY -->
</div>