<div class="row animated fadeIn">
    <div class="col-12">
        <div class="jumbotron-fluid pt-0">
            <div id="imgsDivParent" class="bg-dark rounded position-relative">
                <div class="w-100 h-100 position-relative">
                    <div class="w-100 h-100 rounded animated position-absolute top-0" id="imgsDiv" #imgsDiv
                    [style.background-image]="'url(\'assets/images/home-imgs/'+activeImage+'.jpg\')'"></div>
                    <h1 class="py-4 px-2 m-0 text-center w-100 position-absolute" translate>home.company_title</h1>
                    <h1 class="py-4 px-2 m-0 text-center w-100 position-absolute" translate>home.freelancer_title</h1>
                </div>
            </div>
            <hr class="my-4">
            <!-- CATEGORIES AND SKILLS -->
            <div class="px-4">
                <form novalidate>
                    <!-- CATEGORIES -->
                    <div class="form-group">
                        <label for="cat_father" translate>categories.our_categories</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="mdi mdi-label-multiple"></span>
                                </span>
                            </div>
                            <select id="cat_father" class="form-control" (change)="getSubcategoriesFromRoot($event.target.value)">
                                <option value="" selected translate>categories.select_category</option>
                                <option *ngFor="let cat of categories; let i = index" [value]="i" [title]="cat.description">
                                    {{cat.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!-- /CATEGORIES -->
                    <!-- SUBCATEGORIES -->
                    <div class="form-group" *ngFor="let scat of subcategories;let idx = index">
                        <label [for]="'subcat_father'+idx" translate>categories.subcategory</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="mdi mdi-label-multiple-outline"></span>
                                </span>
                            </div>
                            <select [id]="'subcat_father'+idx" class="form-control" (change)="getSubcategories(idx, $event.target.value)">
                                <option value="" translate>categories.select_subcategory</option>
                                <option *ngFor="let cat of scat; let i = index" [value]="i" [title]="cat.description">
                                    {{cat.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!-- /SUBCATEGORIES -->
                    <!-- SEARCH CATEGORY BTN -->
                    <button type="button" class="btn btn-primary btn-block"
                    [disabled]="!selectedCatName" (click)="searchCategory()">
                        <span class="mdi mdi-card-search" translate> categories.search</span>
                    </button>
                    <!-- /SEARCH CATEGORY BTN -->
                    <!-- SKILLS -->
                    <div *ngIf="skills" class="form-group mt-3">
                        <label for="skills" translate>skills.selected_cat_skills</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="mdi mdi-label-multiple-outline"></span>
                                </span>
                            </div>
                            <select *ngIf="skills.length > 0; else noSkills" id="skills" class="form-control" (change)="selectedSkillName = skills[$event.target.selectedIndex-1].name">
                                <option value="" translate>skills.select_skill</option>
                                <option *ngFor="let skill of skills; let i = index" [value]="i" [title]="skill.description">
                                    {{skill.name}}
                                </option>
                            </select>
                            <ng-template #noSkills>
                                <select id="skills" class="form-control">
                                    <option value="" translate>skills.no_skills</option>
                                </select>
                            </ng-template>
                        </div>
                        <!-- SEARCH BTN -->
                        <button type="button" class="btn btn-primary btn-block"
                        [disabled]="!selectedSkillName" (click)="searchSkill()">
                            <span class="mdi mdi-card-search" translate> skills.search</span>
                        </button>
                        <!-- /SEARCH BTN -->
                    </div>
                    <!-- /SKILLS -->
                </form>
            </div>
            <!-- /CATEGORIES AND SKILLS -->
        </div>
        <!-- FREELANCERS -->
        <div *ngIf="freelancerPaginator?.data.length > 0" class="mb-5">
            <hr class="my-4">
            <div class="d-md-flex justify-content-md-between">
                <h2 translate>freelancers.latest_profiles</h2>
            </div>
            <div class="card-columns">
                <app-freelancer-card *ngFor="let freelancer of freelancerPaginator.data"
                [freelancer]="freelancer"
                [itsMyProfile]="user?.id == freelancer.user_id"
                [showTitle]="false"
                [titleColor]="freelancer.title_color"
                [textColor]="freelancer.text_color"
                [bgColor]="freelancer.background_color"></app-freelancer-card>
            </div>
            <app-paginator [paginator]="freelancerPaginator" (changePage)="getFreelancers($event)"></app-paginator>
        </div>
        <!-- FREELANCERS -->
        <!-- PROJECTS -->
        <div *ngIf="projectPaginator?.data.length > 0" class="mb-5">
            <hr class="my-4">
            <div class="d-md-flex justify-content-md-between">
                <h2 translate>projects.latest_projects</h2>
            </div>
            <div class="card-columns">
                <app-project-card *ngFor="let project of projectPaginator.data"
                [project]="project" [itsMyProject]="user?.id == project.user_id"></app-project-card>
            </div>
            <app-paginator [paginator]="projectPaginator" (changePage)="getProjects($event)"></app-paginator>
        </div>
        <!-- PROJECTS -->
    </div>
</div>