<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
            <div class="d-inline-block">
                <a href="http://www.iestrassierra.com/" target="_blank" class="pointer text-light">
                    <p class="m-0">
                        <img src="assets/images/iestrassierra.png" alt="OkFreelancers"
                        id="trassierra_logo">
                        <span class="pl-2">IES Trassierra</span>
                    </p>
                    <p class="m-0">Desarrollo de Aplicaciones Web - 2019/2020</p>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-4 text-center mb-4 mb-lg-0">
            <div class="d-inline-block">
                <a routerLink="/home" class="pointer">
                    <img src="assets/images/logo_light.png" alt="OkFreelancers" id="footer_logo">
                </a>
                <p class="m-0">OkFreelancers &copy; Miguel Belmonte Granados - 2020</p>
            </div>
        </div>
        <div class="col-12 col-lg-4 text-center text-lg-right">
            <div class="d-inline-block">
                <a href="https://github.com/Mbg999" target="_blank" class="text-light">
                    <span class="mdi mdi-github mdi-24px"></span>
                </a>
                <a href="https://www.linkedin.com/in/miguel-belmonte-granados-36b4a9182/" target="_blank" class="text-light">
                    <span class="mdi mdi-linkedin mdi-24px"></span>
                </a>
            </div>
        </div>
    </div>
    
</div>