<div id="cookies-consent" class="w-100 p-4 bg-dark text-light fixed-bottom">
    <div class="d-flex justify-content-between">
        <div class="pr-2">
            <p translate>cookies.title</p>
            <p translate>cookies.text</p>
        </div>
        <div>
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-primary" (click)="accept()" translate>cookies.accept</button>
                <button type="button" class="btn btn-dark" (click)="refuse()" translate>cookies.refuse</button>
            </div>
        </div>
    </div>
</div>