<div class="animated fadeIn">
    <h1 translate>roles.roles</h1>
    <p translate>roles.explanation</p>
    <h2 class="display-4" translate>roles.table</h2>
    <table class="table table-striped">
        <thead>
            <tr class="bg-dark text-light">
                <th translate>roles.role</th>
                <th translate>miscellaneous.description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td translate>roles.administrator</td>
                <td translate>roles.administrator_description</td>
            </tr>
            <tr>
                <td translate>roles.company</td>
                <td translate>roles.company_description</td>
            </tr>
            <tr>
                <td translate>roles.freelancer</td>
                <td translate>roles.freelancer_description</td>
            </tr>
        </tbody>
    </table>
</div>