.audio_overlay {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.audio_overlay_effect:hover {
    background-color: rgba(26,26,26, 0.2);
}

.audio_btns {
    font-size: 60px;
    color: rgba(236,236,236, 0.2);
    cursor: pointer;
}

.side_btns {
    font-size: 60px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .side_btns {
        font-size: 35px;
    }
}

.audio_btns:hover {
    color: rgba(236,236,236, 0.8);
}